html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#googleMap {
    width: 100%;
    height: 100%;
}


#bottom {
	position: fixed;
	bottom: 0px;z-index: 999;
	padding: 0;
	width: 100%;
	background-color: white;
	line-height: 30px;
}

/*------------------------------------*/
#car_info{
	padding-left: 10px;
	line-height: 30px;
	/*font-size: 16px;*/
	font-weight: bold;
}

#car_info span {
	padding-right:20px;
}

#car_info #ui_tools_control {
	/*margin-left: 20px;*/
	width: 50px;
}

/*---------------------------------*/
#car_cfg {
	padding-left: 10px;
	/*display: none;*/
}

#car_cfg input {
	width : 20px;
	height: 20px;
}

#car_cfg span{
	padding-right: 15px;
}


/*-----------------------------*/
#ui_tools{
	/*display: none;*/
	line-height: 35px;
	padding-left: 10px;
	border-bottom: 2px solid #ccc;
}

#ui_tools input{
	width: 130px;
}

#ui_tools span{
	padding-right: 10px;
}

#ui_tools select{
	width: 120px;
	height: 25px;
}
